body {
  background-image: url(../images/body.png);
  background-repeat: repeat;
  background-position: left top;
  background-color: #2C3141;
  color: #EAEAEA;
}
p {
  font-family: Raleway, sans-serif;
  font-size: 1.34em;
  text-align: justify;
}
h1, h2, h3{
  font-family: 'Lobster', cursive;
  font-weight: lighter;
  text-align: justify;
}
h1{ font-size: 7em;
    text-align: center;
    color: #F07800;
 }
h2{
  font-size: 5em;
  text-align: center;
}
h3{
  font-size: 3em;
  text-align: center;
}
.container{
  margin: 0 auto;
  width: 80%;
  max-width: 1140px;
}
h2 span {
color: #9B9B9B;
}
a:link {
  color: #FFFFFF;
}
a:visited{
  color: #FFFFFF;;
}
a:hover{
  color: #2C3141;
  background-color: #98C8FF;
}
a:active{
 background-color: #FFFFFF;
 color: #FFFFFF;
}
/*Navigation -----------------------------*/
img {
  width: 100%;
}
.header nav {
  position: fixed;
  top: 0px;
  background-image: url("../images/nav.png");
  min-height: 60px;
}
ul{
  line-height: 1.4em;
}
nav ul{
  list-style: none;
  width:100%;
}
nav ul li{
  font-size: 1.6em;
  display: block;
  margin: 0 0.1%;
  float: left;
  font-family: Baskerville, "Hoefler Text", Garamond, "Times New Roman", serif;
  font-style: italic;
}
nav li a {
 text-decoration: none;
 text-transform: uppercase;
 padding: 10px;
}
nav a:link {
  color: color: #FFFFFF;
}
nav a:visited{
  color:  #FFFFFF;
}
nav a:hover{
  color: #2C3141;
  background-color: #FF9A35;
}
nav a:active{
 background-color: #FF9A35;
 color: #2C3141;
}

nav .active  a{
  color: #2C3141;
  background-color: #FF9A35;
}


.header h1{
  clear:both;
}

#circle{
  border-radius:50% 50% 50% 50%;
  width:150px;
  /*height: 18%;*/
}
.values li {
  width: 20%;
}
.values  li span{
    text-align: right;
    float: right;
}
.my_image{
  display: block;
  margin: auto;
}

.week ul {
  line-height: 1.8em;
}
.week {
  background-image: url(../images/reflections.png);
  text-align: left;
  padding: 1% 2.5% ;
  float: left;
  width: 25%;
  margin: 1% 1%;
}
.week h3{
  font-size: 2em;
  font-family: 'Kotta One', serif;
}
#week1 .week{
  border-bottom: 30px solid #A4BBD5;
}
#week2 .week{
  border-bottom: 30px solid  #799BC1;
}
#week3 .week {
  border-bottom: 30px solid  #5D8BBE;
}
#footer{
  clear: both;
}
#footer p{
  text-align: center;
  font-size: 1em;
}
/*Blog css*/
.reflection{
  background-image: url(../images/reflections.png);
  text-align: left;
  padding: 1% 2.5% ;
}
.reflection h3{
  font-size: 2em;
  font-family: 'Kotta One', serif;
}

#post1{
   border-bottom: 30px solid #A4BBD5;
}

/*Technical blog -------------------------*/
#big_box{
  width:90%;
  border: 10px solid red;
  margin: auto;
}
#box{
  width: 40%;
  height: 400px;
  border: 10px solid yellow;
  padding: 10%;
  margin: 10% auto;
  overflow: hidden;

}
/*my_wireframe.html ---------------------*/
.my_wireframe h3 {
   margin: 10% 10%;
}


/*media queries ------------------*/
@media (max-width:940px){
.week {
  width: 43%;
  }
}

@media (max-width:890px){
  nav ul li{
  font-size: 1.2em;
  }
  .values li {
  width: 40%;
}
}

@media (max-width:680px){
  body{
    margin-top: 30%;
  }
 .header nav {
  width: 80%
 }
.header nav ul{
  padding: 0;
 }
 nav ul li{
  margin: 0 0.1%;
  float: none;
  margin-bottom: 1%;
}
nav ul li a
{
text-align: left;
display:block;
width:100%;
}

}
@media (max-width:600px){
   body{
    margin-top: 40%;
  }
  .week {
  width: 100%;
  }
h1{
  font-size: 5em;
}
h2{
  font-size: 3em;
}
.values li {
  width: 60%;
}

.my_wireframe h3 {
   font-size: 2em;
}
}

@media (max-width:330px){
.values li {
  width: 100%;
}
.my_wireframe h3 {
   padding-top: 20%;
   font-size: 1.2em;
}

}
