h2{
  color: #08B32B;
}
p{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1em;
  line-height: 1.4em;
}
.container{
  width: 960px;
  margin: auto;
}

h2{
  text-align: center;
}

.wireframe{
padding-bottom: 15px;
padding-top: 15px;
border-bottom: 2px solid  #545050;
}
